<!DOCTYPE html>
<html>
<head>
    <title>Doctor Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>Doctor Registration</h1>

<form method="POST">

<label>Doctor Name</label>
<input type="text" name="name" required>

<label>Specialization</label>
<input type="text" name="specialization" required>

<label>Phone</label>
<input type="text" name="phone" required>

<input type="submit" value="Add Doctor">

</form>

</div>

</body>
</html>