<!DOCTYPE html>
<html>
<head>
    <title>Smart Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Smart Hospital Management System</h1>

    <p>Welcome to Hospital Management Software</p>

    <a href="/patient">
        <button>Patient Registration</button>
    </a>

    <a href="/patients">
        <button>View Patients</button>
    </a>

    <br><br>

    <a href="/doctor">
        <button>Add Doctor</button>
    </a>

    <a href="/doctors">
        <button>View Doctors</button>
    </a>

    <br><br>

    <a href="/appointment">
        <button>Book Appointment</button>
    </a>

    <a href="/appointments">
        <button>View Appointments</button>
    </a>

    <br><br>

    <a href="/billing">
        <button>Generate Bill</button>
    </a>

    <a href="/bills">
        <button>View Bills</button>
    </a>

    <br><br>

    <a href="/dashboard">
        <button>Dashboard</button>
    </a>

    <a href="/login">
        <button>Admin Login</button>
    </a>

</div>

</body>
</html>