<!DOCTYPE html>
<html>
<head>
    <title>Patient Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>Patient Registration</h1>

<form method="POST">

<label>Name</label>
<input type="text" name="name" required>

<label>Age</label>
<input type="number" name="age" required>

<label>Gender</label>
<select name="gender">
    <option>Male</option>
    <option>Female</option>
</select>

<label>Phone</label>
<input type="text" name="phone" required>

<input type="submit" value="Register">

</form>

</div>

</body>
</html>